<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">

    <title>Formation AngularJS - DVD Store (2)</title>

    <meta name="description" content="Formation AngularJS">
    <meta name="author" content="Vincent Caillierez">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/sky.css" id="theme">
    <link rel="stylesheet" href="formation.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="appCtrl">

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">


        <section class="size-s leftp" data-markdown>
          <script type="text/template">
# DVD Store
## Panier et checkout<br/>(Partie 2 sur 2)
          </script>
        </section>



        <section class="leftp" data-markdown>
          <script type="text/template">
## DVD Store - Partie 2 - Sommaire

- Création d'un **composant pour gérer le panier** : contenu du panier, ajout et retrait d'un produit.
- Création d'un **widget panier** : affiche nombre d'articles, le total et un bouton "Checkout".
- Mise en place du **routage d'URL** pour pouvoir naviguer du catalogue au panier.
- **Formulaire** pour récolter des données saisies par l'utilisateur.
          </script>
        </section>



        <section class="leftp" data-markdown>
          <script type="text/template">
## Composant panier - Fonctionnalités attendues

- Encapsuler toutes les fonctionnalités liées au panier dans un "composant" utilisable par le reste de l'application.
- Lister les produits du panier.
- Ajouter un produit au panier (et changer sa quantité).
- Retirer un produit du panier.
          </script>
        </section>



        <section class="leftp" data-markdown>
          <script type="text/template">
## Composant panier - Réfléchissons ensemble

- Sommes-nous susceptible de **réutiliser** la fonctionnalité "panier" dans une autre application ? Si oui, quelle est la meilleure façon d'organiser notre code ? (aussi bien en termes de concepts AngularJS que d'organisation de fichiers)
- **DONNÉES :** quelles données notre composant "panier" doit-il stocker ? De quelles infos a-t-on besoin pour chaque produit dans le panier ?
- **FONCTIONNALITÉS :** quelles méthodes notre composant "panier" doit-il proposer ?

**NB. Accordons-nous sur les conventions de nommage.**
          </script>
        </section>



        <section class="size-xs leftp" data-markdown>
          <script type="text/template">
## Services AngularJS

Objets permettant d'**organiser et de partager le code d'une application**, surtout la "business logic". **Avant tout une facilité syntaxique.** Parfait pour le panier !

Fonctionnalités d'un service :

- Participe à l'**injection de dépendances**.
- **Lazily instantiated :** instantié au moment où l'application en a besoin.
- **Singletons :** une seule instance de chaque service créée pour toute l'application.

AngularJS fournit plusieurs services par défaut, tous préfixés par `$` : `$http`, `$filter`...

Pour utiliser un service, l'ajouter comme dépendance du composant qui l'utilise :

```js
.controller('MyController', ['$scope', 'MyService', function ($scope, MyService) {
  ...
  MyService.doSomething();
  ...
}
```

DOC: [Guide Services](https://code.angularjs.org/1.3.15/docs/guide/services)
          </script>
        </section>



        <section class="leftp" data-markdown>
          <script type="text/template">
## Créer son propre service

Pour créer son propre service, **3 syntaxes possibles** (!!) :

- `myModule.factory('MyService', ...)` - Déclare une fonction qui crée une instance du service.
- `myModule.service('MyService', ...)` - Déclare une fonction constructeur (classe) qui sera instanciée.
- `myModule.provider('MyService', ...)` - Déclare un provider pour un service (un provider permet de configurer un service, e.g. méthode `debugEnabled` de `$logProvider`).

DOCS : [factory](https://code.angularjs.org/1.3.15/docs/api/auto/service/$provide#factory) - [service](https://code.angularjs.org/1.3.15/docs/api/auto/service/$provide#service) - [provider](https://code.angularjs.org/1.3.15/docs/api/auto/service/$provide#provider)
          </script>
        </section>



        <section class="size-s leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Créer un service pour gérer le panier

- Créez un **nouveau module `cart`** dans le fichier `components/cart/cart.js`. Il contiendra tout le code lié au panier.
- Le module `cart` doit déclarer un **service `cart`** grâce la méthode `factory`. La méthode `factory` doit déclarer une fonction qui renvoie un objet contenant les méthodes permettant de manipuler le panier.
- Implémentez les **méthodes du service `cart`** (ajout/suppression de produit...) à l'intérieur de la fonction factory. Notez que ces méthodes sont du pur code JavaScript et n'utilisent aucun concept AngularJS.

**ATTTENTION:** N'oubliez pas de charger Le nouveau fichier `cart.js` depuis la page HTML principale et de l'ajouter comme dépendance du module principal `dvdStore`.

SOLUTION: `dvdstore_2/listing_00.html`
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
## Widget panier - Fonctionnalités attendues

- Afficher le nombre d'articles dans le panier.
- Afficher le coût total des articles dans le panier.
- Afficher un bouton "Checkout".

**Réfléchissons ensemble :**

- INTERFACE : A quoi va ressembler notre widget panier ? De quelle manière veut-on l'insérer dans la page principale ?
- DONNÉES : quelles données notre widget panier doit-il stocker ?
- FONCTIONNALITÉS : quelles méthodes notre widget panier doit-il proposer ?
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
## Directives AngularJS

Les directives sont des **balises ou des attributs HTML (1) inventés par AngularJS pour étendre le HTML**.

AngularJS fournit de nombreuses directives :

- **Certaines attachent un nouveau comportement à une balise HTML :** `<a ng-click=""></a>`, `<input type="text" ng-model="username">`...
- **Certaines transforment le DOM :** `<li ng-repeat="item in items">`, `<ng-include src="'myTemplate.html'"></ng-include>`...

**Conventions de nommage :**

- A la création (et dans la doc) : `ngBind` (camel-case).
- A l'utilisation : `ng-bind` (2), `ng:bind`, `ng_bind`, `data-ng-bind`, `x-ng-bind`.

<p class="small">(1) Certaines directives prennent également la forme d'une classe CSS ou d'un commentaire HTML, mais c'est beaucoup plus rare.<br/>
(2) Syntaxe la plus répandue.</p>

DOC: [Guide Directives](https://code.angularjs.org/1.3.15/docs/guide/directive)
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
## Créer sa propre directive

Dans le JavaScript :
```js
.directive('myDate', function() {
  var today = new Date();
  return {
    template: '<h3>Today is ' + today + '</h3>',
    controller: function($scope) { ... }
  };
});
```

Dans le HTML :
```html
<div my-date></div> <!-- OU BIEN --> <my-date></my-date>
```

**Bonnes pratiques :**

- Retourner un "definition object" plutôt qu'une fonction.
- Préfixer le nom de la directive : `myCarousel` plutôt que `carousel` (évite les collisions ; ne pas utiliser le préfixe `ng`).

DOC: [Service $compile](https://code.angularjs.org/1.3.15/docs/api/ng/service/$compile) (<i class="highlight">DÉMO DOC</i> -- pas très intuitif que c'est ça la doc !)
          </script>
        </section>



        <section class="size-s leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Créer une directive pour afficher le widget panier

- Toujours dans le module `cart`, déclarez une directive `cartSummary`.
- Faites en sorte que cette directive :
  - Ne soit utilisable que comme un élément HTML.
  - Affiche un template `components/cart/cartSummary.html` (SOURCE: <note path="dvdstore/html/widget_panier.html"></note>).
  - Expose à la vue, via son contrôleur, les méthodes qui renvoient le nombre d'articles dans le panier et le montant total.
- Afficher le widget panier dans la navbar de la page principale.

**RÉFLÉCHISSONS :** Que manque-t-il pour que la fonctionnalité "ajout au panier" soit complète ?

<solution path="dvdstore_2/listing_01.html"></solution>
          </script>
        </section>



        <section class="size-s leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Finaliser l'ajout au panier

**Dans le contrôleur de la liste produits (`productListCtrl`) :**

- Déclarez une dépendance au service `cart` pour pouvoir utiliser `cart.addProduct()`.
- Exposez à la vue une méthode `addProductToCart()` qui repose sur `cart.addProduct()` de sorte qu'il soit possible d'ajouter des produits au panier depuis la liste produits. Il faudra passer en paramètre le produit à ajouter. ATTENTION: Kinvey stocke les ids sur la propriété `obj._id`.

**Dans la vue liste produits (`views/productList.html`) :**

- Ajouter un bouton qui utilise la méthode `addProductToCart()`.

SOLUTION: voir les fichiers adéquats dans `dvdstore_2`.
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
## Routage d'URL

**Concepts (<i class="highlight">Démo Gmail</i>) :**

- Toute notre application ne peut pas être exposée sous une unique URL.
- L'URL (route) doit refléter l'écran en cours ("deep-linking" ; utile pour bookmarquer, naviguer...).
- En coulisse, cela facilite l'organisation de notre code car chaque route peut avoir son propre template, son propre contrôleur...

**Jargon - Les éléments qui composent une route `http://monsite.com/#/ma-page?print=true#introduction` :**

- **url:** `/ma-page?print=true#introduction`
- **path:** `/ma-page`
- **search:** `?print=true` (ou plutôt `{print: 'true'}`)
- **hash:** `introduction`
          </script>
        </section>



        <section class="size-s2 leftp" data-markdown>
          <script type="text/template">
## Utiliser le routage d'URL

**Déclarer les routes** (**après avoir installé `ngRoute`, module optionnel**) :

```js
myModule.config(function($routeProvider) {
  $routeProvider.when('/products', {
    templateUrl: 'views/productList.html'
  });
});
```

**Dans la vue**, insérer la directive `ngView` à l'endroit où le template de chaque route doit s'afficher :

```html
<ng-view></ng-view>
```

**Dans un lien :**

```html
<a href="#/products">Catalogue</a>
```

DOC: https://code.angularjs.org/1.3.15/docs/api/ngRoute/provider/$routeProvider (<i class="highlight">DÉMO DOC</i>)
          </script>
        </section>



        <section class="size-xxs leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Implémenter le routage d'URL

**Installer le module `ngRoute` :**

- Charger le fichier optionnel `angular-route.js` depuis la page principale.
- Déclarer une dépendance au module `ngRoute` dans le module principal `dvdStore`.

**Déclarer les routes suivantes avec `$routeProvider` (chemin -- template) :**

- products -- `views/productList.html`
- checkout -- `views/checkoutSummary.html` (template vide à créer)
- placeorder -- `views/placerOrder.html` (template vide à créer)
- thankyou -- `views/thankYou.html` (template vide à créer)
- *VIDE* -- `views/productList.html`

Dans la page principale, insérer la directive `ngView` à l'endroit où le template de chaque route doit s'afficher.

Vérifiez que le bon template s'affiche si vous changez l'URL manuellement (attention de bien utiliser une URL du type `index.html#/products`).

SOLUTION: `dvdstore_2/listing_02.html`
          </script>
        </section>



        <section class="size-s2 leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Implémenter le checkout

Dans les grandes lignes :

- Un clic sur le bouton "Checkout" mène à la route "checkout" qui affiche le contenu détaillé du panier et son montant total.
- Depuis cette vue, on doit pouvoir supprimer des articles du panier, retourner au catalogue ou passer commande.

Cet exercice ne fait que reprendre des concepts déjà abordés, pas d'explications supplémentaires donc, juste une liste d'instructions détaillées à réaliser : <note path="dvdstore/05_checkout.md"></note>

SOLUTION: `dvdstore_2/listing_03.html`
          </script>
        </section>



        <section class="size-s2 leftp" data-markdown>
          <script type="text/template">
## Formulaires

Fonctionnalités typiquement associées aux formulaires :

- Récolter des données saisies par l'utilisateur.
- Valider ces données côté client.
- Formulaires "dynamiques" (champs conditionnels, champs répétés...).
- Récupérer ces données en JavaScript (AngularJS), éventuellement les modifier, et les envoyer au serveur.

AngularJS supporte tout ça. Nous verrons un exemple pour récupérer l'adresse d'expédition d'une commande dans dvdStore.

DOC: [Guide Formulaires](https://code.angularjs.org/1.3.15/docs/guide/forms)
          </script>
        </section>



        <section class="size-xs leftp" data-markdown>
          <script type="text/template">
## Formulaires à la sauce AngularJS

Quasi identiques aux formulaires HTML classiques (en fait, AngularJS redéclare le comportement des balises natives de formulaire `<form>`, `<input>`...).

```html
<form novalidate name="myForm" ng-submit="submitForm()">
  Nom : <input type="text" name="username" ng-model="user.name" />
  <input type="submit" value="Soumettre" />
</form>
```

- `novalidate` désactive la validation HTML5 (sinon, conflit avec la validation AngularJS).
- `<form name="myForm">` permet d'exposer les erreurs du formulaire via `$scope.myForm.$error` (<i class="highlight">idem pour les champs</i>, e.g. `$scope.myForm.username.$error`).
- `<form ng-submit="submitForm()">` permet de déclencher une méthode custom à la soumission du formulaire (ici, `submitForm()`). ALTERNATIVE : `<button ng-click="submitForm()">` (dans le formulaire)
- `ng-model="user.name"` permet de créer une **liaison de données bidirectionnelle** entre un champ de form et une propriété du scope (ici, `user.name`, qui sera créée dynamiquement).
          </script>
        </section>



        <section class="size-s leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Créer un formulaire pour l'adresse de la commande

- Copiez le HTML de <note path="dvdstore/html/checkout_form.html"></note> dans la vue `views/placeOrder.html` et créez-y un formulaire `shippingForm` avec les champs suivants :
  - Nom du destinataire (`data.shipping.name`) - Texte
  - Adresse d'expédition (`data.shipping.address`) - Texte
  - Option emballage cadeau (`data.shipping.giftwrap`) - True/False
  - Bouton "submit" avec le texte "Passer la commande".
- Vous utiliserez les [classes Bootstrap de formulaire](http://getbootstrap.com/css/#forms) pour obtenir une jolie mise en forme.
- Validez que la liaison de données bi-directionnelles fonctionne.

NOTE : Nous validerons le formulaire au prochain exercice.
          </script>
        </section>



        <section class="size-xs leftp" data-markdown>
          <script type="text/template">
## Formulaires - Contrôler la saisie utilisateur

Ajouter des **attributs de validation AngularJS** à un champ classique ([DOC Directive input](https://code.angularjs.org/1.3.15/docs/api/ng/directive/input)) :

- `required` : passe le champ en erreur s'il n'est pas renseigné.
- `ng-pattern="REGEXP"` : passe le champ en erreur s'il ne se conforme pas à l'expression régulière.
- `ng-maxlength=50` : passe le champ en erreur s'il contient plus de 50 caractères.
- Etc.

Ou bien, utiliser un **type de champ spécial** qui comporte déjà une validation :

- `<input type="url" ng-model="data.url" />` ne laisse passer que les URLs.
- `<input type="email" ng-model="data.email" />` ne laisse passer que les e-mails.
- Etc.
          </script>
        </section>



        <section class="size-xs leftp ng-non-bindable" data-markdown>
          <script type="text/template">
## Formulaires - Aff. erreurs de saisie

- **Changer l'apparence d'un champ en erreur :** Utiliser CSS. AngularJS ajoute automatiquement des classes `ng-invalid`, `ng-invalid`... aux champs en fonction de leur statut.
- **Afficher un message à côté d'un champ en erreur :** `<span class="error" ng-show="myForm.myField.$error.required">MESSAGE</span>`
- **Désactiver le bouton de soumission en cas d'erreur :** `<button ng-disabled="myForm.$invalid">`
- **Utiliser la directive `ngMessages`** (depuis AngularJS 1.3.x) - [DOC](https://code.angularjs.org/1.3.15/docs/api/ngMessages/directive/ngMessages)

**EN RÉSUMÉ :** Si le formulaire et les champs ont un attribut `name`, AngularJS crée des variables de scope avec les propriétés `$error`, `$error.ERROR_TYPE`, `$valid` et `$invalid` pour chaque champ et pour le formulaire.

**Astuces pour débugger le formulaire :**

- Afficher les données du formulaire (`ng-model`) : `{{data.shipping|json}}`
- Afficher les erreurs du formulaire : `{{myForm.$error|json}}`
          </script>
        </section>



        <section class="size-s leftp exercise" data-background="images/slide3.jpg" data-markdown>
          <script type="text/template">
## EXERCICE: Valider le formulaire

- Stylez la classe `.ng-invalid` en rouge et la classe `.ng-valid` en vert pour signaler visuellement les champs invalides/valides.
- Faites apparaître à côté de chaque champ un message d'erreur si le champ n'est pas valide.
- Désactivez le bouton "Passer la commande" si le formulaire contient des erreurs.
- Quand le formulaire n'a plus d'erreurs et que le bouton "Passer la commande" est cliqué, appelez une méthode custom qui enregistre les données sur Kinvey.

**RÉFLÉCHISSONS ENSEMBLE :** Comment enregistrer les données sur le serveur ? Où mettre la méthode appelée à la soumission du formulaire ?
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
## Conclusion de la partie dvdstore_2

Concepts AngularJS importants utilisés :

- **Service :** Pas d'UI + Encapsule la logique applicative (gestion du panier) + Souvent fctés transversales.
- **Directive :** Souvent avec UI (et/ou manipulation DOM) + Contrôleur + Peut utiliser des services externes (comme le widget panier).
- **Routage d'URL :** Reflète dans l'URL les états de l'application.
- **Logiques d'affichage :** afficher un fragment de HTML en fonction de la valeur d'une variable (ex : message d'erreur), changer les classes CSS en fonction de la valeur d'une variable (ex : allumage de la catégorie/page en cours).
          </script>
        </section>



        <section class="size-s leftp" data-markdown>
          <script type="text/template">
# DVD Store - Conclusions

Voir <note path="dvdstore/09_conclusions.md"></note>
          </script>
        </section>


      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script src="js/angular.js"></script>
    <script src="formation.js"></script>

  </body>
</html>
