<h2>Finaliser la commande</h2>

<p>Merci d'entrer l'adresse de livraion ci-dessous.</p>

<form role="form" name="shippingForm" ng-submit="dvdStoreCtrl.placeOrder(shippingInfo)">
  <div class="well">

    <div class="form-group">
      <label>Nom</label>
      <input ng-model="shippingInfo.name" type="text" name="name" class="form-control" />
    </div>

    <div class="form-group">
      <label>Addresse</label>
      <textarea ng-model="shippingInfo.address" name="address" class="form-control" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">
      Passer la commande
    </button>

  </div>
</form>
