<div class="panel panel-default row" ng-controller="productListCtrl as productListCtrl">

  <div class="col-xs-3">

    <a class="btn btn-block btn-default btn-lg"
       ng-click="productListCtrl.selectCategory('')"
       ng-class="productListCtrl.isSelectedCategory('')">Accueil</a>

    <a ng-repeat="productCategory in dvdStoreCtrl.products | unique:'categories'"
       class="btn btn-block btn-default btn-lg"
       ng-click="productListCtrl.selectCategory(productCategory)"
       ng-class="productListCtrl.isSelectedCategory(productCategory)">
        {{productCategory}}
    </a>

  </div>

  <div class="col-xs-8">

    <div class="well"
         ng-repeat="product in dvdStoreCtrl.products | filter:productListCtrl.isProductInCategory">
      <h3>
        <strong>{{product.name}}</strong>
        <span class="pull-right label label-primary">
          {{product.price | currency:'€' }}
        </span>
      </h3>
      <button ng-click="productListCtrl.addProductToCart(product)"
              class="pull-right btn btn-success">
        Ajouter au panier
      </button>
      <span class="lead">{{product.description}}</span>
    </div>


  </div>
</div>
