<h1>Authentification</h1>
<hr/>
<form role="form" id="login" ng-submit="vm.login(vm.credentials)">
  <div class="form-group">
    <label>Nom d'utilisateur</label>
    <input class="form-control" type="text" ng-model="vm.credentials.username" />
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input class="form-control" type="password" ng-model="vm.credentials.password" />
  </div>
  <input type="submit" class="btn btn-primary" value="Connexion">
  </div>
</form>
<p>&nbsp;</p>
<p>Pas de compte utilisateur ? <a ui-sref="register">Enregistrez-vous</a>
