<h1>Créer un compte</h1>
<hr/>
<form role="form" id="login" ng-submit="vm.signup(vm.credentials)">
  <div class="form-group">
    <label>Nom d'utilisateur</label>
    <input class="form-control" type="text" ng-model="vm.credentials.username" />
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input class="form-control" type="password" ng-model="vm.credentials.password" />
  </div>
  <input type="submit" class="btn btn-primary" value="Créer un compte">
  </div>
</form>
<p>&nbsp;</p>
<p>Déjà enregistré ? <a ui-sref="login">Identifiez-vous</a>
