/**
 * @file
 * Custom CSS styles for the AngularJS workshop.
 */

.reveal section.leftp p { text-align: left; margin-top: 1em; }
.reveal li { margin-top: .7em; }


.reveal section.separator h1,
.reveal section.separator h2,
.reveal section.separator h3,
.reveal section.separator p,
.reveal section.separator li
{
  color: #FFFFFF;
  text-shadow: 5px 3px #000000;
}
.reveal section.separator h1 {
  font-size: 5em;
}
.reveal section.separator h2 {
  font-size: 3em;
}


.reveal section.exercise h1,
.reveal section.exercise h2,
.reveal section.exercise p,
.reveal section.exercise li
{
  color: #FFFFFF;
}


.reveal section.size-xxs { font-size: .60em; }
.reveal section.size-xs { font-size: .69em; line-height: .95em; }

.reveal section.size-s { font-size: .75em; }
.reveal section.size-s p { line-height: .9em; }
.reveal section.size-s li { margin-top: .4em; }

.reveal section.size-s2 { font-size: .82em; line-height: 1em; }
.reveal section { font-size: .9em; }
.reveal section.size-m { font-size: 1em; }

p.small {font-size: .8em; margin-top: .8em; }

.highlight {
  font-style: normal;
  background-color: yellow;
}

/**
html.separator body {
  background: url("images/angular-background.png");
  background-position: center;
  background-size: 100%;
}
html.separator h1 {
  color: #FFFFFF;
  font-weight: 1000;
  text-shadow: 2px 2px #ff0000;
}


html.exercise body {
  background:url("images/slide3.jpg");
  background-position:center;
  background-size: 100%;
}
html.exercise .reveal section h1, h2, p {
  color: #FFFFFF;
}
*/
